SECRET_KEY=replace-with-your-own-secret
ADMIN_USER=change-to-your-admin-user
ADMIN_PASSWORD=change-to-your-admin-password
SCOPUS_API_KEY=replace-with-your-scopus-key
SCOPUS_SYNC_HOUR=16
SCOPUS_SYNC_MINUTE=02
